body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 1440px;
    min-height: 600px;
}

.menu { /* Верхнє меню */
    display: flex;
    border-bottom: 2px solid #C4C4C4;
}

.menu_left { /* Верхнє ліве меню */
    height: 66px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_left > a {
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

.menu_right { /* Верхнє праве меню */
    height: 66px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_right > a {
    color: #C4C4C4;
    margin-right: 30px;
    text-decoration: none;
    font-size: 25px;
    transition: 300ms;
}

.menu_right > a:hover { /* При наведені міняє колір */
    color: #087DE4;
 }


h1{
    font-size: 100px;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 105px;
    margin-left: 80px;
}


.reviews_box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 112px;
}

.reviews_box_2 {
    display: flex;
    justify-content: space-around;
}

.review {
    width: 295px;
}

    .review > h3 {
        margin-top: 22px;
        margin-bottom: 2px;
        text-align: center;
        font-weight: 700;
    }

    .review > h5 {
        text-align: center;
        font-size: 15px;
        color: #C0C0C0;
        font-weight: initial;
    }

.review > p {
    padding-top: 25px;
    border-top: 2px solid #ED8651;
    font-size: 14px;
}

.footer {
    margin-top: 180px;
    height: 75px;
    background: #00A8F0;
}
